---
import LegalLayout from '../layouts/LegalLayout.astro'
---

<LegalLayout
  title="Obowiązek informacyjny"
  description="Obowiązek informacyjny Administratora Danych Osobowych – Klauzula RODO. Informacje o przetwarzaniu danych osobowych przez Cyber Cover sp. z o.o."
>
  <h2>Obowiązek informacyjny Administratora Danych Osobowych – Klauzula RODO</h2>

  <ol>
    <li>W związku z wejściem w życie z dniem 25 maja 2018 roku rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE, zwanego RODO, realizując obowiązek informacyjny, jako Administrator danych osobowych pragniemy poinformować o sposobie przetwarzania Państwa danych osobowych.</li>
    <li>W przypadku, kiedy udostępniają nam Państwo dane osobowe swoich pracowników, współpracowników, członków zarządu, wspólników, kontrahentów, dostawców lub innych osób, prosimy o poinformowanie osób, których dane osobowe zostały nam przez Państwo przekazane, iż przetwarzamy je na zasadach opisanych w niniejszej klauzuli informacyjnej, a także o zakresie udostępnianych danych osobowych oraz o tym, że są Państwo źródłem, od którego ich dane pozyskaliśmy.</li>
  </ol>

  <p><strong>Administrator danych osobowych</strong></p>

  <ol>
    <li>Administratorem Pani/Pana danych osobowych jest Cyber Cover spółka z ograniczoną odpowiedzialnością z siedzibą w Toruniu (87-100) przy ul. gen. J. H. Dąbrowskiego 2, wpisana do rejestru przedsiębiorców prowadzonego przez Sąd Rejonowy dla m. st. Warszawy w Warszawie, XIV Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem 0000566636, posiadająca NIP: 5342506260, (dalej: Administrator).</li>
    <li>W sprawach związanych z ochroną danych osobowych można kontaktować się z wyznaczonym przez Administratora inspektorem ochrony danych: – za pośrednictwem poczty elektronicznej pod adresem e-mail: hello@cybercover.pl lub pisemnie pod adresem siedziby Administratora.</li>
  </ol>

  <p><strong>Cel przetwarzania danych osobowych</strong></p>

  <p>Pani/Pana dane mogą być przetwarzane w celu:</p>

  <ol>
    <li>wykonania zawartej z Państwem umowy/zlecenia, w tym zapewniania odpowiedniej jakości świadczonych usług – na podstawie art. 6 ust. 1 lit. b RODO;</li>
    <li>zawarcia i prawidłowego wykonywania zawartych umów świadczenia usług w ramach prowadzonego przez Administratora serwisu internetowego (dalej jako Serwis) pod adresem: https://www.cybercover.pl, co obejmuje:
      <ul>
        <li>możliwości założenia konta bez umowy;</li>
        <li>założenie konta Użytkownika,</li>
        <li>zawarcie umowy,</li>
        <li>dokonanie rozliczeń,</li>
        <li>korzystanie przez Użytkownika z uprawnień konsumenckich,</li>
      </ul>
    </li>
    <li>założenia konta Użytkownika w Serwisie, w sytuacji, gdy nie zawrą Państwo umowy sprzedaży;</li>
    <li>dochodzenia roszczeń wynikających z zawartych umów na podstawie art. 6 ust. 1 lit. f RODO – w związku z uzasadnionym interesem Administratora;</li>
    <li>archiwizacyjnych,</li>
    <li>marketingu bezpośredniego produktów i usług własnych Administratora – na podstawie art. 6 ust. 1 lit. f RODO – w związku z uzasadnionym interesem administratora, jakim jest prowadzenie marketingu bezpośredniego swoich usług.</li>
  </ol>

  <p><strong>Kategorie osób, których dane osobowe są przetwarzane</strong></p>

  <ol>
    <li>Klienci, będący osobami fizycznymi, a w przypadku klientów będących osobami prawnymi – dane osobowe osób uprawnionych do reprezentacji takich podmiotów, pracowników, współpracowników takich klientów;</li>
    <li>kontrahenci i dostawcy usług i towarów będący osobami fizycznymi, jak również pracownicy i współpracownicy dostawców usług i towarów nabywanych przez Administratora;</li>
    <li>osoby zgłaszające się do Administratora w celu rekrutacji do pracy u Administratora;</li>
    <li>inne osoby, które przekazały swoje dane osobowe Administratorowi np. w związku z wysłaną korespondencją jak również osób, których dane zostały przekazane przy okazji świadczenia usług przez Administratora.</li>
  </ol>

  <p><strong>Rodzaje przetwarzanych danych osobowych:</strong></p>

  <ol>
    <li>niezbędne do zalogowania się i dokonywania zakupów w Serwisie:
      <ol>
        <li>imię i nazwisko,</li>
        <li>adres e-mail,</li>
        <li>numer telefonu,</li>
      </ol>
    </li>
    <li>niezbędne do dokonywania zakupów w Serwisie:
      <ol>
        <li>imię i nazwisko,</li>
        <li>numer telefonu,</li>
        <li>adres e-mail,</li>
        <li>numeru rachunku bankowego (w przypadku odstąpienia od umowy lub uznania reklamacji, zwrot należności następuje bezpośrednio na numer rachunku bankowego z którego dokonano zapłaty).</li>
      </ol>
    </li>
  </ol>

  <p><strong>Okres przetwarzania</strong></p>

  <p>W zależności od celu, Administrator będzie przetwarzał dane osobowe przez okres:</p>

  <ol>
    <li>niezbędny do prawidłowego wykonania umowy;</li>
    <li>przedawnienia roszczeń wynikających z umowy;</li>
    <li>do momentu wyrażenia sprzeciwu wobec przetwarzania danych;</li>
    <li>wykonywania obowiązków prawnych nałożonych na Administratora.</li>
  </ol>

  <p><strong>Zasady powierzenia danych osobowych</strong></p>

  <p>Pani/Pana dane osobowe udostępnione zostaną pracownikom Administratora, którym pisemnie powierzono przetwarzanie danych osobowych i którzy ponoszą odpowiedzialność za naruszenie zasad przetwarzania, a ponadto do:</p>

  <ol>
    <li>podmiotów prowadzących informatyczną i księgowo-kadrową obsługę Administratora,</li>
    <li>podmiotów dostarczających i wspierających systemy teleinformatyczne Administratora w celu obsługi strony internetowej i Serwisu, oraz podmiotów świadczących usługi związane z bieżącą działalnością Administratora,</li>
    <li>podmiotów świadczących usługi dostawy produktów,</li>
    <li>podmiotów świadczących usługi płatności on-line.</li>
  </ol>

  <p><strong>Przysługujące prawa</strong></p>

  <ol>
    <li>Przysługuje Panu/Pani prawo do:</li>
  </ol>

  <ul>
    <li>dostępu do danych osobowych przetwarzanych przez Administratora oraz ich kopii (Art. 15 RODO),</li>
    <li>żądania sprostowania danych osobowych (art. 16 RODO),</li>
    <li>usunięcia danych osobowych, tzw. bycia zapomnianym (art. 17 RODO),</li>
    <li>ograniczenia przetwarzania danych osobowych (art. 18 RODO),</li>
    <li>przenoszenia danych osobowych (art. 20 RODO).</li>
  </ul>

  <ol start="2">
    <li>Przetwarzanie danych osobowych na podstawie udzielonej zgody może być zaprzestana w każdym czasie, w sytuacji w której Pani/Pan wycofa udzieloną zgodę.</li>
    <li>Przysługuje Pani/Panu także, na bazie art. 13 ust. 2 lit. d RODO, prawo wniesienia skargi do organu nadzorczego zajmującego się ochroną danych osobowych – Prezesa Urzędu Ochrony Danych Osobowych. W celu skorzystania z powyższych praw należy skontaktować się z Administratorem lub z inspektorem ochrony danych.</li>
  </ol>

  <p><strong>Informacja, co do wymogu lub dobrowolności podania danych osobowych oraz konsekwencjach</strong></p>

  <ol>
    <li>Podanie danych osobowych jest dobrowolne w przypadku marketingu bezpośredniego produktów i usług Administratora.</li>
    <li>Podanie danych osobowych w celu wykonania umowy realizowanej przez Administratora jest niezbędne w celu wykonania tejże umowy.</li>
  </ol>

  <p><strong>Informacja o zautomatyzowanym przetwarzaniu danych osobowych</strong></p>

  <p>Państwa dane osobowe nie będą przetwarzane w sposób zautomatyzowany i nie będą profilowane.</p>
</LegalLayout>
