---
import LegalLayout from '../layouts/LegalLayout.astro'
import ActionButton from '../components/ActionButton.astro'
---

<LegalLayout
  title="Regulamin świadczenia usług"
  description="Regulamin świadczenia usług drogą elektroniczną przez Cyber Cover sp. z o.o. Zasady korzystania z serwisu cybercover.pl."
>
  <p>Regulamin świadczenia usług drogą elektroniczną przez Cyber Cover spółkę z ograniczoną odpowiedzialnością uchwalony przez Zarząd w dniu 24.09.2025</p>
  <ActionButton
    variant="dark"
    showArrow={false}
    label="Pobierz regulamin"
    href="/docs/Regulamin-swiadczenia-uslug-droga-elektroniczna-przez-Cyber-Cover.pdf"
    target="_blank"
    rel="noreferrer noopener"
    class="text-white! no-underline!"
  />
</LegalLayout>
